.idea/
temp/
.sass-cache/
target/*
s101plugin.state
*.iml
*.log
classes/*
*.iml
web-app/storage
test/
out/
*.DS_Store
*.sublime-*
.sass-cache
web-app/bower/swiper/src
data/
.classpath
.project
web-app/WEB-INF/tld/
.slcache/
